:root {
  --primary-color: #262127;
  --secondary-color: rgb(241, 224, 217);

  --third-color: rgb(249, 215, 184);
  --optional-color: #726073;
  --default-font-family: "Tauri", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background: var(--primary-color);
}

.wrapper {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

header {
  padding: 200px 0;
  background-image: url("../images/stage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  border-radius: 2px;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  line-height: 1.5;
  color: var(--secondary-color);
  font-family: "Reddit Mono", monospace;
}

h2 {
  font-size: 50px;
  color: var(--secondary-color);
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--third-color);
}

.row p {
  font-size: 18px;
}

.row h2 {
  font-size: 50px;
}

.row img {
  opacity: 0.6;
  border-radius: 2px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.row img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

@media (max-width: 960px) {
  header {
    background-image: url("../images/just-beatriz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 40px;
  }
  header p {
    font-size: 20px;
  }

  .row {
    padding: 0 20px 0;
  }
}

.about-section {
  padding: 100px 20px;
}

.about-section h1 {
  text-align: start;
  font-size: 50px;
}

.about-section h2 {
  font-size: 30px;
}

.about-content {
  margin: 30px;
}
